.this-guide-card {
  border: 3px solid gold;
  padding: 50px;
  width: 800px;
}
.this-guide-header {
  display: flex;
  align-items: center;
  gap: 10%;
  margin-bottom: 20px;
  border: 2px solid gold;
}
.this-guide-header h1 {
  font-size: 40px;
}
.this-guide-header p {
  font-size: 20px;
}

.this-guide-champion-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.this-guide-runes-spells-headers {
  display: flex;
  justify-content: space-around;
}
.this-guide-runes-spells-list {
  display: flex;
  justify-content: space-evenly;
}
.this-guide-runes-section,
.this-guide-spells-section {
  display: flex;
  gap: 80px;
}

.this-guide-spell-card-img,
.this-guide-rune-card-img {
  width: 50px;
}
.this-guide-items-section {
  gap: 15px;
}

.this-guide-items-cards {
  margin: 20px;
  gap: 20px;
}

.this-guide-items-cards-img {
  width: 60px;
  height: auto;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.this-guide-tooltip-text {
  visibility: hidden;
  background: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 6px;
  position: absolute;
  transition: opacity 0.2s;
}

.tooltip:hover .this-guide-tooltip-text {
  visibility: visible;
}
