.champ-info {
  display: flex;
  height: 215px;
  width: 1100px;
  margin-bottom: 100px;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #333356;
}
.champ-info img {
  border-radius: 12px;
}
.champ-info-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 10px;
  width: 1000px;
  padding: 0;
}
.champ-info-text h1 {
  color: gold;
  margin: 0;
  text-transform: capitalize;
}
.champ-info-text h3 {
  margin: 0;
  text-transform: capitalize;
}
.champ-info-tag {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.champ-info-text hr {
  width: 100%;
  opacity: 0.5;
}
.champ-info-lore {
  margin-left: 50px;
}
