.navbar {
  height: 75px;
  background-color: rgb(24, 24, 65);
  margin-bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.hexcraft-logo {
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
  color: red;
}
.nav-login-link {
  color: gold;
  font-size: 30px;
  margin: 15px;
  text-decoration: none;
}
.nav-link {
  color: gold;
  font-size: 30px;
  margin: 15px;
  text-decoration: none;
}

.logout-link {
  float: right;
}
