/* Page title */
.all-guide-list-page-title {
  font-size: 48px;
  margin-bottom: 30px;
  text-align: center;
  color: gold;
}

/* Guides container */
.all-guide-list-container {
  display: flex;
  flex-wrap: wrap;
  width: 2000px;
  padding: 25px;
  gap: 25px;
  justify-content: center;
}

/* Individual guide preview */
.one-guide-preview {
  display: flex;
  background-color: #333356;
  flex-direction: row;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 15px;
  width: 500px;
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one-guide-preview:hover {
  transform: scale(1.03);
}

/* Guide image */
.one-guide-preview-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
}

.one-guide-preview-img img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Guide info */
.one-guide-preview-info {
  flex: 2;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.one-guide-preview-info p {
  margin: 5px 0;
  color: gold;
}

/* Rune info inside guide preview */
.one-guide-preview-rune-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.one-guide-preview-rune-info img {
  height: 40px;
  width: 40px;
  border: 2px solid gold;
  border-radius: 5px;
}
